body {
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 200;
}

span {
  font-size: 10px;
  font-weight: 200;
}

textarea {
  /* border: 4px gainsboro; */
}
